.bodyContent {
    display: flex;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to top, #FFFFFF, #ECE9E6);
}

.outletContainer {
    padding: 40px;
    min-height: 100vh;
}

.LogoutButton {
    top: 0;
    right: 0;
    padding: 40px;
    position: absolute;
}

@media (max-width: 768px) {
    .outletContainer {
        margin-top: 30px;
        padding: 30px;
    }

    .LogoutButton {
        padding: 30px 10px 0 0;
    }
}